In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Query 1.csv")

In [3]:
df.head()

        fecha            nombre                   descripcion  t_min  t_max
0  01-12-2024    alcala_heranes                    Muy nuboso    2.0   18.0
1  01-12-2024  collado_villalba  Muy nuboso con lluvia escasa    6.0   17.0
2  01-12-2024            getafe                    Muy nuboso    6.0   16.0
3  01-12-2024            madrid                      Cubierto    6.0   16.0
4  01-12-2024      navalcarnero                      Cubierto    5.0   17.0

In [4]:
def cambio_fecha(fecha:str):
    dia, mes, year = fecha.split("-")
    return f"{year}-{mes}-{dia}"


cambio_fecha("01-12-2024"	)

'2024-12-01'

In [5]:
df2 = df.copy()
df2["fecha"] = df2.fecha.apply(lambda x: cambio_fecha(x))
df2.head()

        fecha            nombre                   descripcion  t_min  t_max
0  2024-12-01    alcala_heranes                    Muy nuboso    2.0   18.0
1  2024-12-01  collado_villalba  Muy nuboso con lluvia escasa    6.0   17.0
2  2024-12-01            getafe                    Muy nuboso    6.0   16.0
3  2024-12-01            madrid                      Cubierto    6.0   16.0
4  2024-12-01      navalcarnero                      Cubierto    5.0   17.0

In [7]:
df2.fecha.unique()

array(['2024-12-01', '2024-12-02', '2024-12-03', '2024-12-04',
       '2024-12-05', '2024-12-06', '2024-12-07', '2024-12-08',
       '2024-12-09', '2024-12-10', '2024-11-28', '2024-11-29',
       '2024-11-30'], dtype=object)

In [11]:
df2.columns.tolist()

df2.columns = ['fecha', 'ciudad', 'descripcion', 't_min', 't_max']

In [12]:
df2.to_csv("datos_nuevos.csv",index=False)

In [18]:
df2.apply(tuple,axis=1).tolist()

[('2024-12-01', 'alcala_heranes', 'Muy nuboso', 2.0, 18.0),
 ('2024-12-01', 'collado_villalba', 'Muy nuboso con lluvia escasa', 6.0, 17.0),
 ('2024-12-01', 'getafe', 'Muy nuboso', 6.0, 16.0),
 ('2024-12-01', 'madrid', 'Cubierto', 6.0, 16.0),
 ('2024-12-01', 'navalcarnero', 'Cubierto', 5.0, 17.0),
 ('2024-12-02', 'alcala_heranes', 'Muy nuboso', 5.0, 18.0),
 ('2024-12-02', 'collado_villalba', 'Muy nuboso con lluvia escasa', 5.0, 17.0),
 ('2024-12-02', 'getafe', 'Intervalos nubosos', 5.0, 17.0),
 ('2024-12-02', 'madrid', 'Muy nuboso', 7.0, 16.0),
 ('2024-12-02', 'navalcarnero', 'Intervalos nubosos', 5.0, 18.0),
 ('2024-12-03', 'alcala_heranes', 'Nuboso con lluvia escasa', 4.0, 15.0),
 ('2024-12-03',
  'collado_villalba',
  'Intervalos nubosos con lluvia escasa',
  3.0,
  14.0),
 ('2024-12-03', 'getafe', 'Nuboso con lluvia escasa', 5.0, 15.0),
 ('2024-12-03', 'madrid', 'Nuboso con lluvia escasa', 6.0, 14.0),
 ('2024-12-03',
  'navalcarnero',
  'Intervalos nubosos con lluvia escasa',
  5.0,
  15.0),
 ('2024-12-04', 'alcala_heranes', 'Intervalos nubosos', 3.0, 16.0),
 ('2024-12-04',
  'collado_villalba',
  'Intervalos nubosos con lluvia',
  5.0,
  14.0),
 ('2024-12-04', 'getafe', 'Intervalos nubosos', 7.0, 16.0),
 ('2024-12-04', 'madrid', 'Intervalos nubosos', 9.0, 15.0),
 ('2024-12-04', 'navalcarnero', 'Poco nuboso', 5.0, 16.0),
 ('2024-12-05', 'alcala_heranes', 'Poco nuboso', 3.0, 15.0),
 ('2024-12-05', 'collado_villalba', 'Poco nuboso', 4.0, 16.0),
 ('2024-12-05', 'getafe', 'Poco nuboso', 4.0, 14.0),
 ('2024-12-05', 'madrid', 'Poco nuboso', 6.0, 14.0),
 ('2024-12-05', 'navalcarnero', 'Poco nuboso', 4.0, 16.0),
 ('2024-12-06', 'alcala_heranes', 'Poco nuboso', 2.0, 17.0),
 ('2024-12-06', 'collado_villalba', 'Nubes altas', 8.0, 18.0),
 ('2024-12-06', 'getafe', 'Poco nuboso', 6.0, 16.0),
 ('2024-12-06', 'madrid', 'Poco nuboso', 6.0, 16.0),
 ('2024-12-06', 'navalcarnero', 'Nubes altas', 6.0, 17.0),
 ('2024-12-07', 'alcala_heranes', 'Poco nuboso', 4.0, 16.0),
 ('2024-12-07', 'collado_villalba', 'Nuboso', 4.0, 14.0),
 ('2024-12-07', 'getafe', 'Poco nuboso', 5.0, 15.0),
 ('2024-12-07', 'madrid', 'Despejado', 6.0, 15.0),
 ('2024-12-07', 'navalcarnero', 'Poco nuboso', 6.0, 16.0),
 ('2024-12-08', 'alcala_heranes', 'Intervalos nubosos', 1.0, 11.0),
 ('2024-12-08', 'collado_villalba', 'Cubierto con nieve', 3.0, 9.0),
 ('2024-12-08', 'getafe', 'Poco nuboso', 4.0, 11.0),
 ('2024-12-08', 'madrid', 'Despejado', 5.0, 10.0),
 ('2024-12-08', 'navalcarnero', 'Poco nuboso', 5.0, 11.0),
 ('2024-12-09', 'alcala_heranes', 'Despejado', 1.0, 10.0),
 ('2024-12-09', 'collado_villalba', 'Intervalos nubosos con nieve', 2.0, 7.0),
 ('2024-12-09', 'getafe', 'Despejado', 4.0, 9.0),
 ('2024-12-09', 'madrid', 'Despejado', 4.0, 9.0),
 ('2024-12-09', 'navalcarnero', 'Despejado', 5.0, 10.0),
 ('2024-12-10', 'alcala_heranes', 'Poco nuboso', 1.0, 9.0),
 ('2024-12-10', 'collado_villalba', 'Intervalos nubosos con nieve', 2.0, 8.0),
 ('2024-12-10', 'getafe', 'Poco nuboso', 0.0, 9.0),
 ('2024-12-10', 'madrid', 'Poco nuboso', 2.0, 8.0),
 ('2024-12-10', 'navalcarnero', 'Poco nuboso', 2.0, 9.0),
 ('2024-11-28', 'alcala_heranes', 'Despejado', -2.0, 16.0),
 ('2024-11-28', 'collado_villalba', 'Despejado', 5.0, 14.0),
 ('2024-11-28', 'getafe', 'Despejado', 2.0, 14.0),
 ('2024-11-28', 'madrid', 'Despejado', 4.0, 13.0),
 ('2024-11-28', 'navalcarnero', 'Despejado', 4.0, 15.0),
 ('2024-11-29', 'alcala_heranes', 'Poco nuboso', 2.0, 17.0),
 ('2024-11-29', 'collado_villalba', 'Poco nuboso', 5.0, 16.0),
 ('2024-11-29', 'getafe', 'Poco nuboso', 4.0, 15.0),
 ('2024-11-29', 'madrid', 'Poco nuboso', 5.0, 14.0),
 ('2024-11-29', 'navalcarnero', 'Poco nuboso', 5.0, 16.0),
 ('2024-11-30', 'alcala_heranes', 'Poco nuboso', 5.0, 18.0),
 ('2024-11-30', 'collado_villalba', 'Poco nuboso', 7.0, 17.0),
 ('2024-11-30', 'getafe', 'Poco nuboso', 5.0, 17.0),
 ('2024-11-30', 'madrid', 'Poco nuboso', 6.0, 16.0),
 ('2024-11-30', 'navalcarnero', 'Poco nuboso', 5.0, 17.0)]